body {
  font-family: Arial, sans-serif;
  background-color: rgb(125, 7, 125);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  text-align: center;
  margin: 20px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5em; /* Tăng kích thước font */
  padding: 10px 20px; /* Thêm padding */
  border: 1px solid wheat;
  border-radius: 24px;
  background-color: aqua;
}

.navbar a.sale {
  color: red;
}

.navbar a:hover {
  background-color: wheat; /* Đổi màu nền khi hover */
  color: black; /* Đổi màu chữ khi hover */
}

